<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add form</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/styleLg.css" />
    {{ bootstrap.load_css() }}
</head>
<body>
    {% from 'bootstrap5/form.html' import render_form %}
    <div class="container">
        {% if is_edit %}
            <h1>Tambah Buku</h1>
        {% else %}
            <h1>Edir Buku</h1>
        {% endif %}
        <div class="row">
            <div class="col-sm-12 col-md-8">
                    {{ render_form(form) }}
            </div>
        </div>
    </div>

    {{ bootstrap.load_js() }}
</body>
</html>